<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="Personal Website" />
		<meta name="author" content="Julian Andres Klode" />

		<title>EntropyOrg/templates</title>

		<meta name="robots" content="noindex, follow" />

		<!-- ikiwiki CSS -->
		<link href="../style.css" rel="stylesheet" />

		<!-- Custom styles for this template -->
		<link href="style/carousel.css" rel="stylesheet">

		<!-- Bootstrap core CSS -->
		<link href="../vendor/bootstrap/bootstrap.css" rel="stylesheet" />

		<!-- Custom styles for this template -->
		<link href="../local.css" rel="stylesheet" />

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<a class="github-fork-banner" href="https://github.com/EntropyOrg"><img src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
		<div class="navbar-wrapper">
			<div class="container">
				<nav class="navbar navbar-inverse navbar-fixed-top">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="..//">EntropyOrg</a>
						</div>
						<div id="navbar" class="collapse navbar-collapse">
							
							
							<ul class="nav navbar-nav">
    <li><a href="../project/">Projects</a></li>
    <li><a href="../tutorial/">Tutorials</a></li>
</ul>

							
							
						</div>
					</div>
				</nav>
			</div>
		</div>

		<div class="container">

			<header class="page-header">
				<h1>templates</h1>
			</header>

			<p><a href="../ikiwiki/">Ikiwiki</a> uses many templates for many purposes. By editing its templates,
you can fully customise its appearance, and avoid duplicate content.</p>

<p>Ikiwiki uses the HTML::Template module as its template engine. This
supports things like conditionals and loops in templates and is pretty
easy to learn. All you really need to know to modify templates is this:</p>

<ul>
<li>To insert the value of a template variable, use <code>&lt;TMPL_VAR variable&gt;</code>.</li>
<li>To make a block of text conditional on a variable being set use
<code>&lt;TMPL_IF variable&gt;text&lt;/TMPL_IF&gt;</code>.</li>
<li>To use one block of text if a variable is set and a second if it's not,
use <code>&lt;TMPL_IF variable&gt;text&lt;TMPL_ELSE&gt;other text&lt;/TMPL_IF&gt;</code></li>
</ul>

<h2 id="templatepages">template pages</h2>

<p>Template pages are regular wiki pages that are used as templates for other
pages.</p>

<p>The <a href="http://ikiwiki.info/ikiwiki/directive/template/">template directive</a> allows
template pages to be filled out and inserted into other pages in the wiki.</p>

<p>These template pages are currently available:</p>

<p>

<a href="./note/">note</a>

</p>
<p>

<a href="./popup/">popup</a>

</p>


<h2 id="templatefiles">template files</h2>

<p>Template files are unlike template pages in that they have the extension
<code>.tmpl</code>. Template files are used extensively by Ikiwiki to generate html.
They can contain html that would not normally be allowed on a wiki page.</p>

<p>Template files are located in <code>/usr/share/ikiwiki/templates</code> by default;
the <code>templatedir</code> setting can be used to make another directory be
searched first. Customised template files can also be placed inside the
"templates/" directory in your wiki's source -- files placed there override
ones in the <code>templatedir</code>.</p>

<p>Here is a full list of the template files used:</p>

<ul>
<li><p><code>page.tmpl</code> - Used for displaying all regular wiki pages. This is the
key template to customise to change the look and feel of Ikiwiki.</p></li>
<li><p><code>rsspage.tmpl</code> - Used for generating rss feeds for blogs.</p></li>
<li><code>rssitem.tmpl</code> - Used for generating individual items on rss feeds.</li>
<li><code>atompage.tmpl</code> - Used for generating atom feeds for blogs.</li>
<li><code>atomitem.tmpl</code> - Used for generating individual items on atom feeds.</li>
<li><code>inlinepage.tmpl</code> - Used for displaying a post in a blog.</li>
<li><code>archivepage.tmpl</code> - Used for listing a page in a blog archive page.</li>
<li><code>titlepage.tmpl</code> - Used for listing a page by title in a blog archive page.</li>
<li><code>microblog.tmpl</code> - Used for showing a microblogging post inline.</li>
<li><code>blogpost.tmpl</code> - Used for a form to add a post to a blog (and rss/atom links)</li>
<li><code>feedlink.tmpl</code> - Used to add rss/atom links if <code>blogpost.tmpl</code> is not used.</li>
<li><code>aggregatepost.tmpl</code> - Used by the aggregate plugin to create
a page for a post.</li>
<li><code>searchform.tmpl</code>, <code>googleform.tmpl</code> - Used by the search plugin 
and google plugin to add search forms to wiki pages.</li>
<li><code>searchquery.tmpl</code> - This is a Omega template, used by the
search plugin.</li>
<li><code>comment.tmpl</code> - Used by the comments plugin to display a comment.</li>
<li><code>change.tmpl</code> - Used to create a page describing a change made to the wiki.</li>
<li><code>recentchanges.tmpl</code> - Used for listing a change on the RecentChanges page.</li>
<li><code>autoindex.tmpl</code> - Filled in by the autoindex plugin to make index pages.</li>
<li><code>autotag.tmpl</code> - Filled in by the tag plugin to make tag pages.</li>
<li><code>calendarmonth.tmpl</code>, <code>calendaryear.tmpl</code> - Used by ikiwiki-calendar to
make calendar archive pages.</li>
<li><code>editpage.tmpl</code>, <code>editconflict.tmpl</code>, <code>editcreationconflict.tmpl</code>,
<code>editfailedsave.tmpl</code>, <code>editpagegone.tmpl</code>, <code>pocreatepage.tmpl</code>,
<code>editcomment.tmpl</code> <code>commentmoderation.tmpl</code>, <code>renamesummary.tmpl</code>,
<code>passwordmail.tmpl</code>, <code>openid-selector.tmpl</code>, <code>revert.tmpl</code> - Parts of ikiwiki's user
interface; do not normally need to be customised.</li>
</ul>


		</div> <!-- /container -->

		<footer class="footer">
			<div class="container">
				<p class="text-muted">
				Powered by <a href="http://ikiwiki.info/">ikiwiki</a>
				</p>
				<p class="pull-right">
				<a href="#">Back to top</a>
				</p>
			</div>
		</footer>


		<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../vendor/jquery/jquery.js"></script>
	<script src="../vendor/bootstrap/bootstrap.js"></script>

	</body>
</html>
